<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cacher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <Cacher.Properties.Settings>
      <setting name="listenPort" serializeAs="String">
        <value>1088</value>
      </setting>
      <setting name="proxy" serializeAs="String">
        <value>socks=127.0.0.1:1080</value>
      </setting>
      <setting name="proxyHosts" serializeAs="String">
        <value>cdn.host.com|.example.com</value>
      </setting>
      <setting name="decryptHosts" serializeAs="String">
        <value />
      </setting>
      <setting name="caches" serializeAs="String">
        <value>.pack|.zip</value>
      </setting>
    </Cacher.Properties.Settings>
  </applicationSettings>
</configuration>